<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.game.dao.VoteTemplateMapper">
  <resultMap id="BaseResultMap" type="com.king.game.entity.VoteTemplate">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <insert id="insert" parameterType="com.king.game.entity.VoteTemplate">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vote_template (name)
    values (#{name,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.king.game.entity.VoteTemplate">
    update vote_template
    <set>
      <if test="name != null and name != ''">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <delete id="delete" parameterType="java.lang.Long">
    delete from vote_template where id = #{id,jdbcType=BIGINT}
  </delete>
  <select id="selectOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name from vote_template where id = #{templateId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name
    from vote_template
  </select>
  <select id="find" resultMap="BaseResultMap" parameterType="java.util.Map">
    select id, name
    from vote_template
    <where>
      <if test="name != null and name != ''">
        and name like concat('%',#{name,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>
  <select id="findTemplateByGroupId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select a.id, a.name
    from vote_template a, vote_template_group rel
    where a.id = rel.temp_id
    and rel.group_id = #{groupId,jdbcType=BIGINT}
  </select>

  <insert id="insertTemplateGroupRel" parameterType="java.util.Map">
    insert into vote_template_group(temp_id,group_id) values(#{templateId,jdbcType=BIGINT},#{groupId,jdbcType=BIGINT})
  </insert>
  <delete id="deleteTemplateGroupRel" parameterType="java.lang.Long">
    delete from vote_template_group where temp_id = #{templateId,jdbcType=BIGINT}
  </delete>
</mapper>