<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.system.dao.SysDictMapper">
  <resultMap id="BaseResultMap" type="com.king.system.entity.SysDict">
    <result column="dict_sn" jdbcType="BIGINT" property="dictSn" />
    <result column="class_no" jdbcType="INTEGER" property="classNo" />
    <result column="dict_no" jdbcType="INTEGER" property="dictNo" />
    <result column="dict_desc" jdbcType="VARCHAR" property="dictDesc" />
    <result column="disp_order" jdbcType="INTEGER" property="dispOrder" />
    <result column="parent_sn" jdbcType="VARCHAR" property="parentSn" />
    <result column="use_flag" jdbcType="VARCHAR" property="useFlag" />
  </resultMap>
  <insert id="insert" parameterType="com.king.system.entity.SysDict">
    insert into sys_dict (dict_sn, class_no, dict_no, 
      dict_desc, disp_order, parent_sn, 
      use_flag)
    values (#{dictSn,jdbcType=BIGINT}, #{classNo,jdbcType=INTEGER}, #{dictNo,jdbcType=INTEGER}, 
      #{dictDesc,jdbcType=VARCHAR}, #{dispOrder,jdbcType=INTEGER}, #{parentSn,jdbcType=VARCHAR}, 
      #{useFlag,jdbcType=VARCHAR})
  </insert>
  <update id="update" parameterType="com.king.system.entity.SysDict">
    update sys_dict
    <set>
      <if test="classNo != null and classNo != ''">
        class_no = #{classNo},
      </if>
      <if test="dictNo != null and dictNo != ''">
        dict_no = #{dictNo},
      </if>
      <if test="dictDesc != null and dictDesc != ''">
        dict_desc = #{dictDesc},
      </if>
      <if test="dispOrder != null and dispOrder != ''">
        disp_order = #{dispOrder},
      </if>
      <if test="parentSn != null and parentSn != ''">
        parent_sn = #{parentSn},
      </if>
      <if test="useFlag != null and useFlag != ''">
        use_flag = #{useFlag},
      </if>
    </set>
    where dict_sn = #{dictSn}
  </update>
  <delete id="delete" parameterType="java.lang.Long">
    delete from sys_dict where dict_sn = #{dictSn}
  </delete>
  <select id="selectAll" resultMap="BaseResultMap">
    select dict_sn, class_no, dict_no, dict_desc, disp_order, parent_sn, use_flag
    from sys_dict
  </select>
  <select id="selectTopDicts" resultMap="BaseResultMap">
    select dict_sn, class_no, dict_no, dict_desc, disp_order, parent_sn, use_flag
    from sys_dict
    where parent_sn = 0
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
    select dict_sn, class_no, dict_no, dict_desc, disp_order, parent_sn, use_flag
    from sys_dict
    <where>
      <if test="classNo != null and classNo != ''">
        and class_no = #{classNo,jdbcType=INTEGER}
      </if>
      <if test="dictDesc != null and dictDesc != ''">
        and dict_desc like concat('%',#{dictDesc,jdbcType=VARCHAR},'%')
      </if>
    </where>
    order by class_no,disp_order
  </select>
  <select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select dict_sn, class_no, dict_no, dict_desc, disp_order, parent_sn, use_flag
    from sys_dict
    where dict_sn = #{dictSn,jdbcType=BIGINT}
  </select>
</mapper>