<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.system.dao.SysUserDao">
  <resultMap id="BaseResultMap" type="com.king.system.entity.SysUser">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="id_card_num" jdbcType="VARCHAR" property="idCardNum" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>

  <select id="findAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from sys_user
  </select>

  <select id="findByUserName" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from sys_user where username = #{username,jdbcType=VARCHAR}
  </select>

  <select id="findByNameAndPass" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from sys_user where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>

</mapper>