<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.system.dao.SysUserDao">
  <resultMap id="BaseResultMap" type="com.king.system.entity.SysUser">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="id_card_num" jdbcType="VARCHAR" property="idCardNum" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.king.system.vo.SysUserVO">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="id_card_num" jdbcType="VARCHAR" property="idCardNum" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
  </resultMap>

  <insert id="insert" parameterType="com.king.system.entity.SysUser">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_user (username, password, name, id_card_num, state)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{idCardNum,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
  </insert>
  <update id="update" parameterType="com.king.system.entity.SysUser">
    update sys_user
    <set>
      <if test="username != null and username != ''">
        username = #{username},
      </if>
      <if test="password != null and password != ''">
        password = #{password},
      </if>
      <if test="name != null and name != ''">
        name = #{name},
      </if>
      <if test="idCardNum != null and idCardNum != ''">
        id_card_num = #{idCardNum},
      </if>
      <if test="state != null and state != ''">
        state = #{state},
      </if>
    </set>
    where id = #{id}
  </update>
  <delete id="delete" parameterType="java.lang.Long">
    delete from sys_user where id = #{id}
  </delete>

  <select id="findByUserName" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from sys_user where username = #{username,jdbcType=VARCHAR}
  </select>

  <select id="find" parameterType="java.util.Map" resultMap="BaseResultMap2">
    select a.id, a.username, a.password, a.name, a.id_card_num, a.state,
    c.id as role_id, c.name as role_name
    from sys_user a
    left join sys_user_role b on a.id = b.uid
    left join sys_role c on b.rid = c.id
    <where>
      <if test="state != null and state != ''">
        and a.state = #{state,jdbcType=INTEGER}
      </if>
      <if test="searchKey != null and searchKey != ''">
        and (a.username like concat('%',#{searchKey,jdbcType=VARCHAR},'%') or a.name like concat('%',#{searchKey,jdbcType=VARCHAR},'%'))
      </if>
    </where>
  </select>

  <delete id="delUserRole" parameterType="java.lang.Long">
    delete from sys_user_role where uid = #{userId}
  </delete>
  <insert id="addUserRole" parameterType="java.util.Map">
    insert into sys_user_role(uid,rid) values(#{id},#{roleId})
  </insert>
</mapper>