<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.game.dao.VoteMapper">
  <resultMap id="BaseResultMap" type="com.king.game.entity.Vote">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="start_time" jdbcType="DATE" property="startTime" />
    <result column="end_time" jdbcType="DATE" property="endTime" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.king.game.vo.VoteVO">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="start_time" jdbcType="DATE" property="startTime" />
    <result column="end_time" jdbcType="DATE" property="endTime" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />

    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="template_name" jdbcType="VARCHAR" property="templateName" />
  </resultMap>
  <insert id="insert" parameterType="com.king.game.entity.Vote">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into vote (title, sub_title, start_time, 
      end_time, template_id, create_id, 
      create_time, status)
    values (#{title,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{templateId,jdbcType=BIGINT}, #{createId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT})
  </insert>
  <update id="update" parameterType="com.king.game.entity.Vote">
    update vote
    <set>
      <if test="title != null and title != ''">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null and subTitle != ''">
        sub_title = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null and startTime != ''">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null and endTime != ''">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="templateId != null and templateId != ''">
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="createId != null and createId != ''">
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null and createTime != ''">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null and status != ''">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
  </update>
  <delete id="delete" parameterType="java.lang.Long">
    delete from vote where id = #{id,jdbcType=BIGINT}
  </delete>
  <select id="selectOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, title, sub_title, start_time, end_time, template_id, create_id, create_time,
    status
    from vote
    where id = #{voteId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, title, sub_title, start_time, end_time, template_id, create_id, create_time, 
    status
    from vote
  </select>

  <select id="find" resultMap="BaseResultMap2">
    select a.id, a.title, a.sub_title, a.start_time, a.end_time, a.template_id, a.create_id, a.create_time, a.status
    , b.name creator, c.name template_name
    from vote a, sys_user b, vote_template c
    where a.create_id = b.id and a.template_id = c.id
    <if test="searchKey != null and searchKey != ''">
      and (a.title like concat('%',#{searchKey,jdbcType=VARCHAR},'%') or a.sub_title like concat('%',#{searchKey,jdbcType=VARCHAR},'%'))
    </if>
    <if test="startTime != null">
      and a.start_time <![CDATA[ >= ]]> #{startTime,jdbcType=DATE}
    </if>
    <if test="endTime != null ">
      and a.end_time <![CDATA[ <= ]]> #{endTime,jdbcType=DATE}
    </if>
    <if test="status != null and status != ''">
      and a.status = #{status,jdbcType=INTEGER}
    </if>
  </select>
</mapper>