<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.keke.dao.ResidentMapper">
  <resultMap id="BaseResultMap" type="com.king.keke.entity.Resident">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="house_holder" jdbcType="VARCHAR" property="houseHolder" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="building" jdbcType="VARCHAR" property="building" />
    <result column="house_no" jdbcType="VARCHAR" property="houseNo" />
    <result column="area" jdbcType="DOUBLE" property="area" />
    <result column="car_no" jdbcType="VARCHAR" property="carNo" />
    <result column="id_card_no" jdbcType="VARCHAR" property="idCardNo" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
  </resultMap>
  <insert id="insert" parameterType="com.king.keke.entity.Resident">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into kk_resident (house_holder, phone, building, 
      house_no, area, car_no, 
      id_card_no, remarks, user_id
      )
    values (#{houseHolder,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{building,jdbcType=VARCHAR}, 
      #{houseNo,jdbcType=VARCHAR}, #{area,jdbcType=DOUBLE}, #{carNo,jdbcType=VARCHAR}, 
      #{idCardNo,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, house_holder, phone, building, house_no, area, car_no, id_card_no, remarks, 
    user_id
    from kk_resident
  </select>
</mapper>