<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.em.dao.EmDataOverloadDao">
  <resultMap id="BaseResultMap" type="com.king.em.entity.EmDataOverload">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="speed_empty" jdbcType="DECIMAL" property="speedEmpty" />
    <result column="speed_fixed_load" jdbcType="DECIMAL" property="speedFixedLoad" />
  </resultMap>

  <sql id="Base_Column_List">
    id, product_id, speed_empty, speed_fixed_load
  </sql>
  <select id="find" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from em_data_overload
    <where>
      <if test="productId != null">
        and product_id = #{productId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="findAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from em_data_overload
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from em_data_overload where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByProductId" parameterType="java.lang.Integer">
    delete from em_data_overload where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.king.em.entity.EmDataOverload">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into em_data_overload (product_id, speed_empty, speed_fixed_load
    )
    values (#{productId,jdbcType=INTEGER}, #{speedEmpty,jdbcType=DECIMAL}, #{speedFixedLoad,jdbcType=DECIMAL}
    )
  </insert>

  <update id="update" parameterType="com.king.em.entity.EmDataOverload">
    update em_data_overload
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="speedEmpty != null">
        speed_empty = #{speedEmpty,jdbcType=DECIMAL},
      </if>
      <if test="speedFixedLoad != null">
        speed_fixed_load = #{speedFixedLoad,jdbcType=DECIMAL},
      </if>
    </set>
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT},
      </if>
    </where>
  </update>

  <select id="findByProductId" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from em_data_overload
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
</mapper>