<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.em.dao.EmDataEmptyloadDao">
  <resultMap id="BaseResultMap" type="com.king.em.entity.EmDataEmptyload">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="speed_forward" jdbcType="DECIMAL" property="speedForward" />
    <result column="speed_reverse" jdbcType="DECIMAL" property="speedReverse" />
  </resultMap>

  <sql id="Base_Column_List">
    id, product_id, speed_forward, speed_reverse
  </sql>
  <select id="find" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from em_data_emptyload
    <where>
      <if test="productId != null">
        and product_id = #{productId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="findAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from em_data_emptyload
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from em_data_emptyload where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByProductId" parameterType="java.lang.Integer">
    delete from em_data_emptyload where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.king.em.entity.EmDataOverload">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into em_data_emptyload (product_id, speed_forward, speed_reverse
    )
    values (#{productId,jdbcType=INTEGER}, #{speedForward,jdbcType=DECIMAL}, #{speedReverse,jdbcType=DECIMAL}
    )
  </insert>

  <update id="update" parameterType="com.king.em.entity.EmDataOverload">
    update em_data_emptyload
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="speedForward != null">
        speed_forward = #{speedForward,jdbcType=DECIMAL},
      </if>
      <if test="speedReverse != null">
        speed_reverse = #{speedReverse,jdbcType=DECIMAL},
      </if>
    </set>
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT},
      </if>
    </where>
  </update>

  <select id="findByProductId" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from em_data_emptyload
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
</mapper>