<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.em.dao.EmDataConstantloadDao">
  <resultMap id="BaseResultMap" type="com.king.em.entity.EmDataConstantload">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="speed_100" jdbcType="DECIMAL" property="speed100" />
    <result column="torque_100" jdbcType="DECIMAL" property="torque100" />
    <result column="speed_setter" jdbcType="DECIMAL" property="speedSetter" />
    <result column="torque_overload" jdbcType="DECIMAL" property="torqueOverload" />
  </resultMap>

  <sql id="Base_Column_List">
    id, product_id, speed_100, torque_100, speed_setter, torque_overload
  </sql>
  <select id="find" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from em_data_constantload
    <where>
      <if test="productId != null">
        and product_id = #{productId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="findAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from em_data_constantload
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from em_data_constantload where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByProductId" parameterType="java.lang.Integer">
    delete from em_data_constantload where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.king.em.entity.EmDataConstantload">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into em_data_constantload (product_id, speed_100, torque_100, speed_setter, torque_overload
    )
    values (#{productId,jdbcType=INTEGER}, #{speed100,jdbcType=DECIMAL}, #{torque100,jdbcType=DECIMAL}, #{speedSetter,jdbcType=DECIMAL}, #{torqueOverload,jdbcType=DECIMAL}
    )
  </insert>

  <update id="update" parameterType="com.king.em.entity.EmDataConstantload">
    update em_data_constantload
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="speed100 != null">
        speed_100 = #{speed100,jdbcType=DECIMAL},
      </if>
      <if test="speedReverse != null">
        torque_100 = #{speedReverse,jdbcType=DECIMAL},
      </if>
      <if test="speedSetter != null">
        speed_setter = #{speedSetter,jdbcType=DECIMAL},
      </if>
      <if test="torqueOverload != null">
        torque_overload = #{torqueOverload,jdbcType=DECIMAL},
      </if>
    </set>
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT},
      </if>
    </where>
  </update>

  <select id="findByProductId" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from em_data_constantload
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
</mapper>