<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.em.dao.EmDataStepDao">
  <resultMap id="BaseResultMap" type="com.king.em.entity.EmDataStep">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="data_time" jdbcType="TIMESTAMP" property="dataTime" />
    <result column="speed" jdbcType="DECIMAL" property="speed" />
  </resultMap>

  <sql id="Base_Column_List">
    id, product_id, data_time, speed
  </sql>
  <select id="find" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from em_data_step
    <where>
      <if test="productId != null">
        and product_id = #{productId,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="findAll" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from em_data_step
  </select>
  <delete id="delete" parameterType="java.lang.Long">
    delete from em_data_step where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByProductId" parameterType="java.lang.Integer">
    delete from em_data_step where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.king.em.entity.EmDataStep">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into em_data_step (product_id, data_time, speed
      )
    values (#{productId,jdbcType=INTEGER}, #{dataTime,jdbcType=TIMESTAMP}, #{speed,jdbcType=DECIMAL}
      )
  </insert>

  <update id="update" parameterType="com.king.em.entity.EmDataStep">
    update em_data_step
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="dataTime != null">
        data_time = #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="speed != null">
        speed = #{speed,jdbcType=DECIMAL},
      </if>
    </set>
    <where>
      <if test="id != null">
        and id = #{id,jdbcType=BIGINT},
      </if>
    </where>
  </update>

  <select id="findByProductId" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from em_data_step
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
</mapper>