<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.em.dao.EmIndexTemplateDao">
  <resultMap id="BaseResultMap" type="com.king.em.entity.EmIndexTemplate">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="best_val" jdbcType="DECIMAL" property="bestVal" />
    <result column="min_val" jdbcType="DECIMAL" property="minVal" />
    <result column="max_val" jdbcType="DECIMAL" property="maxVal" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, best_val, min_val, max_val, weight, unit, category_id
  </sql>
  <select id="find" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    a.id,a.name,a.best_val,a.min_val,a.max_val,a.weight,a.unit,a.category_id,b.name as category_name
    from em_index_template a,em_index_category b
    <where>
      and a.category_id = b.id
      <if test="categoryId != null">
        and category_id = #{categoryId,jdbcType=INTEGER}
      </if>
    </where>
    order by id asc
  </select>

  <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from em_index_template where id = #{id,jdbcType=BIGINT}
    order by id asc
  </select>

  <delete id="delete" parameterType="java.lang.Long">
    delete from em_index_template where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.king.em.entity.EmIndexTemplate">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into em_index_template (name, best_val, min_val, 
      max_val, weight, unit, 
      category_id)
    values (#{name,jdbcType=VARCHAR}, #{bestVal,jdbcType=DECIMAL}, #{minVal,jdbcType=DECIMAL}, 
      #{maxVal,jdbcType=DECIMAL}, #{weight,jdbcType=DECIMAL}, #{unit,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=INTEGER})
  </insert>

  <update id="update" parameterType="com.king.em.entity.EmIndexTemplate">
    update em_index_template
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bestVal != null">
        best_val = #{bestVal,jdbcType=DECIMAL},
      </if>
      <if test="minVal != null">
        min_val = #{minVal,jdbcType=DECIMAL},
      </if>
      <if test="maxVal != null">
        max_val = #{maxVal,jdbcType=DECIMAL},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>