<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.em.dao.EmIndexDetailDao">
  <resultMap id="BaseResultMap" type="com.king.em.entity.EmIndexDetail">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="index_id" jdbcType="BIGINT" property="indexId" />
    <result column="index_name" jdbcType="VARCHAR" property="indexName" />
    <result column="val" jdbcType="DECIMAL" property="val" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="max_val" jdbcType="DECIMAL" property="maxVal" />
    <result column="min_val" jdbcType="DECIMAL" property="minVal" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
  </resultMap>

  <sql id="Base_Column_List">
    id, index_id, val, weight, group_id
  </sql>
  <select id="find" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    d.id,d.index_id,d.val,d.weight,d.group_id,
    t.max_val,t.min_val,t.unit,t.category_id,t.name as index_name,
    g.name as group_name,c.name as category_name
    from em_index_detail d,em_index_group g,em_index_template t,em_index_category c
    <where>
      and d.group_id = g.id
      and d.index_id = t.id
      and t.category_id = c.id
      <if test="userId != null">
        and g.creator_id = #{userId,jdbcType=BIGINT}
      </if>
      <if test="groupId != null">
        and g.id = #{groupId,jdbcType=BIGINT}
      </if>
    </where>
    order by g.create_time desc,d.id asc
  </select>

  <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from em_index_detail where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="findByGroupId" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    d.id,d.index_id,d.val,d.weight,d.group_id,
    t.max_val,t.min_val,t.unit,t.category_id,
    g.name as group_name,c.name as category_name
    from em_index_detail d,em_index_group g,em_index_template t,em_index_category c
    <where>
      and d.group_id = g.id
      and d.index_id = t.id
      and t.category_id = c.id
      <if test="groupId != null">
        and d.group_id = #{groupId,jdbcType=BIGINT}
      </if>
    </where>
    order by d.id asc
  </select>

  <delete id="delete" parameterType="java.lang.Long">
    delete from em_index_detail where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByGroupId" parameterType="java.lang.Long">
    delete from em_index_detail where group_id = #{groupId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.king.em.entity.EmIndexDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into em_index_detail (index_id, val, weight, 
      group_id)
    values (#{indexId,jdbcType=BIGINT}, #{val,jdbcType=DECIMAL}, #{weight,jdbcType=DECIMAL}, 
      #{groupId,jdbcType=BIGINT})
  </insert>
  
  <update id="update" parameterType="com.king.em.entity.EmIndexDetail">
    update em_index_detail
    <set>
      <if test="indexId != null">
        index_id = #{indexId,jdbcType=BIGINT},
      </if>
      <if test="val != null">
        val = #{val,jdbcType=DECIMAL},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>